/*----- Button / Link -----*/

a, button {
  color: white;
  background-color: #0093B7;
  padding: 6px 10px;
  margin: 1px;
  border-radius: 3px;
  border: 0px;
  ;
  text-decoration: none;
  font-size: 16px;
}

a:hover, button:hover {}


/*----- Admin Table -----*/



header {
  background-color: #003340;
  color: white;
}

body {
  background-color: #2A2B2B;
  color: white;
}

h3 {
  font-size: 30px;
  color: #0093B7;
}
