a,button {
  font-size: 8px;
  color: #858c96 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #858c96 !important;
  border-radius: 6px;
  display: inline-block;
}
a:hover, button:hover {
  color: #06517c !important;
border-radius: 50px;
border-color: #06517c !important;
transition: all 0.3s ease 0s;
}
table{
  border-style: solid;
border-color: red;
}
