a, button {
  color: white;
  background-color: #0093B7;
  padding: 6px 10px;
  margin: 1px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
  border: 0px;
  font-family: 'Old Standard TT';
}

h3 {
  color: #0093B7;
}

header {
  background-color: #003340;
  color: white;
}

body {
  background-color: #2A2B2B;
  color: white;
}
